# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster1.xn0bwlf.mongodb.net/placement_readiness?retryWrites=true&w=majority

# Google Gemini API Key
GEMINI_API_KEY=your_google_gemini_api_key_here

# Flask App Secret Key
SECRET_KEY=super_secret_key_123

# Placement Officer (Admin) Login Credentials
OFFICER_EMAIL=admin@placement.com
OFFICER_PASSWORD=admin123
